@page "{restaurantId:int}"
@model OdeToFood.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.Restaurant.Name</h2>
<div>
    Order Number: @Model.Restaurant.Id
</div>
<div>
    Product: @Model.Restaurant.Location
</div>
<div>
    Partner: @Model.Restaurant.Cuisine
</div>
<div>
    Customer: @Model.Restaurant.Cuisine
</div>
@if(Model.Message != null)
{
    <div class="alet alert-info">@Model.Message</div>
}
<a asp-page="./List" class="btn btn-primary btn-padding">All Orders</a>
